body{
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #525252;
}

p{
  font-family: 'Source Sans Pro', sans-serif;
}

h2, h3{
  font-family: 'Source Sans Pro', sans-serif;
}

.apnavbarcustom{
  font-family: 'Miriam Libre', sans-serif;
  background-color: #ffffff;
}

.ap-containercustom{
  width: 960px;
}

.navbar-default .navbar-brand{
  color: #f4645f;
}

.aplogo{
  border-right: 1px solid #dee0df;
}

.collnavright{
  border-left: 1px solid #dee0df;
}

.apnavbarcustom{
  border-bottom: 1px solid #dee0df;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  color: #f4645f;
  background-color: #ffffff;
}

/*intro*/
.intro{
  text-align: center;
  height: 100vh;
}

.apuserpic img{
  margin: 140px 0 0 0;
  width: 180px;
  height: 180px;
  border: 2px solid #e7e7e7;
}

.apname{
  margin: 60px 0 0 0;
  letter-spacing: 5px;
  font-weight: 200;
}

.apnametext{
  font-family: 'Miriam Libre', sans-serif;
  top: 5px;
  font-size: 30px;
  border-bottom: 2px solid #525252;
}

.apskilldesc{
  font-family: 'Miriam Libre', sans-serif;
  color: #aeaeae;
}

.callout{
  border-bottom: 1px solid #dee0df;
  color: #f4645f;
  text-align: center;
  margin: 100px 0 60px 0;
}

.text{
  top: 10px;
  background: #ffffff;
  padding: 10px 20px;
  position: relative;
  font-weight: bold;
}

.calloutportofolio{
  border-bottom: 1px solid #ffffff;
  color: #f4645f;
  text-align: center;
  margin: 80px 0 60px 0;
}

.textportofolio{
  top: 10px;
  background: #f0f2f1;
  padding: 10px 20px;
  position: relative;
  font-weight: bold;
}

/*service*/
.service{
  height: 100vh;
}

.colcustom{
  margin-bottom: 15px;
}

.service-title{
  font-size: 20px;
  text-align: center;
  margin: 40px 40px;
}

.aprow{
  height: 200px;
  border: 1px solid #dee0df;
}

.callout-head{
  width: 100%;
  height: 60px;
}

.callout-title{
  float: left;
  margin-top: 25px;
  margin-left: 25px;
}

.callout-icon{
  float: right;
  width: 35px;
  margin-top: 25px;
  margin-right: 25px;
}

.ptitle{
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

/*portofolio*/
.portofolio{
  height: 100vh;
  background-color: #f0f2f1;
}

.portofolio1{
  background-color: #fff;
  border: 1px solid #dbdcdb;
}

.portofolio2{
  background-color: #fff;
  border: 1px solid #dbdcdb;
}

.imgport1{
  width: 100%;
  border-left: 1px solid #dbdcdb;
}

.imgport2{
  width: 100%;
  border-right: 1px solid #dbdcdb;
}

.titleport{
  color: #f4645f;
}

.descport{
  margin: 40px;
}

/*contact*/
.contact{
  height: 100vh;
}

.icon-contact{
  width: 28px;
}

.callout-contactleft{
  margin: 15px;
}

.callout-contactright{
  margin: 15px;
}

/*footer*/
.footer{
  background-color: #fafafa;
}

.menu-footer{
  margin: 68px 0 22px 0;
}

.menu-footer ul{
  margin: 0 auto;
  width: 480px;
  height: 40px;
}

.menu-footer li{
  float: left;
  margin: 0;
  width: 100px;
  text-align: center;
  list-style: none;
}

.menu-footer a{
  font-family: 'Miriam Libre', sans-serif;
  color: #525252;
  text-decoration: none;
}

.menu-footer a:hover{
  color: #f4645f;
}

.callout-footer{
  text-align: center;
}

.copyright{
  color: #aeaeae;
}

.namefooter{
  font-family: 'Chicle', cursive;
  font-size: 28px;
  margin-bottom: 42px;
}

/*page load*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #f4645f;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
